@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html, h1, h2, h4, p, a, form, input {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px auto;
  padding: 64px;
  max-width: 1024px;
  background-color: #333;
  color: #fff;
  font-family: 'Open Sans';
}

h1 {
  font-size: 48px;
  text-align: center;
}

.halved {
  display: grid;
  grid-template-columns: minmax(auto, 50%) 1fr;
}

h2 {
  font-size: 32px;
}

li {
  font-size: 24px;
}

p, summary {
  font-size: 24px;
}

a {
  font-size: 24px;
  color: #369;
  text-decoration: none;
}
a:hover {
  color: #37a;
}

main, form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

details[open] summary {
  margin-bottom: 16px;
}

h4 {
  font-size: 24px;
}

input {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  background-color: #444;
  font-size: 24px;
  color: #fff;
}

button, .button {
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  background-color: #693;
  font-size: 24px;
  color: #fff;
  width: fit-content;
  cursor: pointer;
  transition: background-color .15s;
}
:is(button, .button):hover {
  background-color: #7a3;
}

:is(button, .button).negative {
  background-color: #900;
}
:is(button, .button).negative:hover {
  background-color: #a00;
}

img {
  width: 100%;
  object-fit: contain;
}

.table {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 16px;
}
.table > :nth-child(odd) {
  text-align: right;
}
.table form {
  text-align: left;
}

.cancelled {
  color: #7f7f7f;
}

.collected {
  color: #693;
}

.hidden {
  display: none;
}