doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='style.css')
    title Ontmoetings-Oliebollen
  body
    h1 Ontmoetings-Oliebollen
    .halved
      div
        h2 Prijs
        ul
          li 1 oliebol: €1
          li Elke 10de oliebol gratis!
        form(action='/submit' method='post' enctype='application/x-www-form-urlencoded')
          label
            h4 Naam
            input(type='text' name='name' required)
          label
            h4 Telefoonnummer
            input(type='tel' name='phone' required)
          label
            h4 Aantal oliebollen
            input.count(type='number' min='1' name='count' required)
          p Totaal: €#[span.price 0] 
          button(type="submit") Bestelling Plaatsen
          script.
            const input = document.querySelector('.count');
            const price = document.querySelector('.price');
            input.addEventListener('input', () => {
              const count = +input.value;
              price.innerText = count - Math.floor(count / 10);
            });
      img(src='assets/oliebollen.png')
