doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='style.css')
    title Ontmoetings-Oliebollen
  body
    h1 Ontmoetings-Oliebollen
    .halved
      div
        h2 Bedankt voor je bestelling
        br
        a.button(href='/') Plaats nog een bestelling
      img(src='assets/oliebollen.png')
